{{> header}}

  <div class="box top-box">
    <h1 class="is-size-1 has-text-grey">Profile page of: {{name}}</h1>
    <br>
    <div class="box profile-pic">
      <img src="{{avatar}}">
    </div>

<form action="/updateUser/{{id}}" method="post">

  <div class="field">
    <div class='control'>
      <input class="input is-medium" name="name" value="{{name}}">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-medium" name="email" value="{{email}}">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-medium" name="avatar" value="{{avatar}}">
    </div>
  </div>

  <input class="button is-info is-medium" type="submit" value="Update Profile">

</form>

  </div>
